<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mawé</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/nav.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mawe.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="barra-nav">
    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4 nav-conteudo">
            <div class="titulo-nav">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="text-white titulo h3">Mawé</a>
            </div>
            <div>
                <h5 class="text-white h4">Conta</h5>
                @if (ViewBag.UsuarioLogado == false)
                {
                    <a class="link-nav" asp-area="" asp-controller="Usuario" asp-action="Registrar">Criar Conta</a>
                    <a class="link-nav" asp-area="" asp-controller="Usuario" asp-action="Login">Login</a>
                }
                @if (ViewBag.UsuarioLogado == true)
                {
                    <a class="link-nav" asp-area="" asp-controller="Usuario" asp-action="ContaDeUsuario">Conta</a>
                    <a class="link-nav" asp-area="" asp-controller="Usuario" asp-action="Logout">Logout</a>
                }
            </div>
        </div>
    </div>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        </nav>
    </div>

    <div class="container conteudo">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark">
        <div class="container conteudo-footer">
            &copy; 2023 - Mawe - <a class="footer-priv" style="display:inline" asp-controller="Home" asp-action="Privacy">Privacidade</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
