@{
    ViewData["Title"] = "Criar conta";
}

<div class="formulario">
<h1>Crie Sua Conta</h1>

<form>
    <div class="row linha-form">
        <div class="col">
            <label for="nome">Nome</label>
            <input type="text" id="nome" class="form-control" placeholder="Nome" required>
        </div>
         <div class="col">
            <label for="sobrenome">Sobrenome</label>
            <input type="text" id="sobrenome" class="form-control" placeholder="Sobrenome" required>
        </div>
    </div>

    <div class="form-group linha-form">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" required>
    </div>

    <div class="row linha-form">
        <div class="form-group col-10">
            <label for="senha">Senha</label>
            <input type="password" class="form-control" id="senha" placeholder="Password" required>
        </div>
        <div class="col-2">
            <label for="idade">Idade</label>
            <input type="number" id="idade" class="form-control" placeholder="Idade" required>
        </div>
    </div>
    <button type="submit" class="linha-form btn btn-outline-secondary">Criar conta</button>
</form>
</div>

<style>
    .linha-form {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .formulario {
        margin: 40px 75px;
    }
</style>