@model List<Curso>

@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-3">Bem-vindo!</h1>
</div>

<div class="categorias">
    <p class="lead categorias-titulo">Categorias</p>
    @foreach (var categoria in Enum.GetNames(typeof(Categorias)))
    {
        <p class="lead categoria-texto">@categoria</p>
    }
</div>


@foreach (var categoria in Enum.GetNames(typeof(Categorias)))
{
    var cursosPorCategoria = Model.Where(c => c.Categoria.ToString() == categoria).ToList();
    if(cursosPorCategoria.Count > 0)
    {
        <h6 class="display-6 categoria-curso-titulo">@categoria</h6>
        <div class="cursos-homepage">
            @foreach (var curso in cursosPorCategoria)
            {
                <div class="curso-homepage">
                    <img class="curso-img" src=@curso.CapaUrl alt="Curso: @curso.Nome">
                </div>
            }
        </div>
    }
}

<style>
    .cursos-homepage {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }

    .curso-img {
        max-width: 150px;
        min-width: 50px;
        height: auto;
    }

    .curso-homepage {
        padding: 1%;
        border-radius: 5%;
        background-color: lightgray;
        margin-top: 1%;
    }

    .curso-homepage:hover {
        filter: brightness(0.9);
    }

    .categoria-curso-titulo {
        margin-top: 3%;
    }

    .categorias {
        text-align: center;
        margin: 0px auto;
        width: 50%;
    }

    .categoria-texto {
        display: inline;
        margin: 0 1.5%;
    }

    .categorias-titulo {
        margin-top: 3%;
        font-weight: 400;
    }
</style>


