.nav-conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    align-items: center;
}

.div-area-nav {
    margin: 0 1%;
}

.link-nav {
    color: lightgray;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    letter-spacing: 0.05em;
}

.link-nav:link {
    text-decoration: none;
    color: dimgrey;
}

.link-nav:visited, .link-nav:active {
    text-decoration: none;
}

.link-nav:hover {
    text-decoration: none;
    color: grey
}

.conteudo-footer {
    color: lightgray;
}

.titulo-nav {
    align-self: center;
    justify-self: center;
    place-self: center;
}

.titulo:link {
    text-decoration: none;
    color: dimgrey;
}

.titulo:hover {
    color: dimgrey;
}

.footer-priv {
    color: lightgray;
    text-decoration: none;
}

.footer-priv:hover {
    color: gray;
}

.barra-nav {
    margin-bottom: 2%;
}


