.nav-conteudo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px 20px 15px;
    align-items: center;
    justify-content: space-between;
}

.div-area-nav {
    margin: 0 2%;
}

.div-nav-divisao {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.div-nav-divisao-conta {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: end;
}

.link-nav {
    color: lightgray;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    letter-spacing: 0.05em;
}

.link-nav:link {
    text-decoration: none;
    color: lightgray;
}

.link-nav:visited {
    text-decoration: none;
    color: lightgray;
}

.link-nav:active {
    text-decoration: none;
    color: lightgray;
}

.link-nav:hover {
    text-decoration: none;
    color: grey
}

.conteudo-footer {
    color: lightgray;
}

.titulo-nav {
    align-self: center;
    justify-self: center;
    place-self: center;
    margin-bottom: 1%
}

.titulo:link {
    text-decoration: none;
    color: dimgrey;
}

.titulo:hover {
    color: dimgrey;
}

.footer-priv {
    color: lightgray;
    text-decoration: none;
}

.footer-priv:hover {
    color: gray;
}

.barra-nav {
    margin-bottom: 2%;
}

.categorias-texto {
    text-decoration: none;
    font-size: larger;
    color: lightgray!important;
    margin-bottom: 19%;
}

    .categorias-texto:hover {
        text-decoration: none;
        color: grey!important;
    }

    .categorias-texto:active .categorias-texto:link {
        text-decoration: none;
    }

