@model CursoDTO
@{
    ViewData["Title"] = "Criação de curso";
}

<div class="formulario">
    <h1>Crie seu curso</h1>

    <form asp-action="CriacaoDeCurso" method="post">

        <div class="form-group linha-form">
            <label asp-for="Nome" for="nome">Nome</label>
            <input asp-for="Nome" type="text" id="nome" class="form-control" placeholder="Nome" required>
        </div>

        <div class="form-group linha-form">
            <label asp-for="Descricao" for="descricao">Descrição</label>
            <textarea asp-for="Descricao" rows="3" id="descricao" class="form-control" required>Descrição</textarea>
        </div>

        <div class="form-group linha-form col-4">
            <label asp-for="DuracaoEmMinutos" for="duracao">Duração em Minutos</label>
            <input asp-for="DuracaoEmMinutos" type="number" class="form-control" id="duracao" placeholder="Duração em " required>
        </div>

        <div class="form-group linha-form col-4">
            <label asp-for="Preco" for="preco">Preço</label>
            <input asp-for="Preco" type="number" class="form-control" id="preco" placeholder="Preço" required>
        </div>

        <div class="form-group col-md-4 linha-form">
            <label for="inputPapel">Categoria</label>
            <select asp-for="Categoria" id="inputCategoria" class="form-control" required>
                <option value="" selected>Escolha um...</option>
                @foreach (var categoria in Enum.GetValues(typeof(Categorias)))
                {
                    <option value="@categoria">@categoria</option>
                }
            </select>
        </div>

        <div class="form-group custom-file linha-form">
            <label asp-for="CapaUrl" for="capa">Capa do Curso</label>
            <input asp-for="CapaUrl" type="url" class="form-control custom-file-input"id="capa">
        </div>

        <button type="submit" class="linha-form btn btn-dark">Criar curso</button>
    </form>

</div>