@model List<Curso>

@{
    ViewData["Title"] = "Cursos";
}

<div class="text-center">
    <h1 class="display-4">Cursos</h1>
</div>

<div class="categorias">
    @foreach (string categoria in Enum.GetNames(typeof(Categorias)))
    {
        <a class="lead categoria-texto" href="/Curso/Categoria/@categoria">@categoria</a>
    }
</div>

<div class="container cursos-display">
    @foreach (Curso curso in Model)
    {
        <div class="curso-homepage">
            <img class="curso-img" src="@curso.CapaUrl" alt="Curso: @curso.Nome">
        </div>
    }
</div>

<style>
    .cursos-homepage {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: start;
    }

    .curso-img {
        max-width: 150px;
        min-width: 50px;
        height: auto;
        aspect-ratio: 2/1.5;
    }

    .curso-homepage {
        padding: 1%;
        border-radius: 5%;
        background-color: lightgray;
        margin: 1%;
        width: fit-content;
    }

        
    .curso-homepage:hover {
        filter: brightness(0.9);
     }

    .categoria-curso-titulo {
        margin-top: 3%;
        margin-left: 0.5%;
    }

    .categorias {
        text-align: center;
        margin: 1% auto 2%;
        width: 50%;
    }

    .categoria-texto {
        text-decoration: none;
        display: inline;
        margin: 0 1.5%;
        font-size: larger;
        color: grey;
    }

    .categoria-texto:hover {
        text-decoration: none;
        color: lightgray;
    }

    .categoria-texto:active {
        text-decoration: none;
    }

    .cursos-display {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
</style>



